<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfect.moudle.system.dao.RiskWarnInfoMapper" >
  <resultMap id="BaseResultMap" type="com.perfect.moudle.system.entity.RiskWarnInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="warn_code" property="warn_code" jdbcType="VARCHAR" />
    <result column="rule_type" property="rule_type" jdbcType="CHAR" />
    <result column="rule_name" property="rule_name" jdbcType="VARCHAR" />
    <result column="check_type" property="check_type" jdbcType="VARCHAR" />
    <result column="logical_symbol" property="logical_symbol" jdbcType="VARCHAR" />
    <result column="threshold" property="threshold" jdbcType="VARCHAR" />
    <result column="warn_result" property="warn_result" jdbcType="VARCHAR" />
    <result column="del_flag" property="del_flag" jdbcType="INTEGER" />
    <result column="create_by" property="create_by" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_by" property="update_by" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.perfect.moudle.system.entity.RiskWarnInfo" extends="BaseResultMap" >
    <result column="rule_condition" property="rule_condition" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, warn_code, rule_type, rule_name, check_type, logical_symbol, threshold, warn_result, 
    del_flag, create_by, create_time, update_by, update_time
  </sql>
  <sql id="Blob_Column_List" >
    rule_condition
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.perfect.moudle.system.entity.RiskWarnInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_scf_risk_warn_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.perfect.moudle.system.entity.RiskWarnInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_scf_risk_warn_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_scf_risk_warn_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findLastestData" resultType="java.lang.String">
    select warn_code
    from t_scf_risk_warn_info
    where del_flag = 0 order by create_time desc limit 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_scf_risk_warn_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.perfect.moudle.system.entity.RiskWarnInfoExample" >
    delete from t_scf_risk_warn_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.perfect.moudle.system.entity.RiskWarnInfo" >
    insert into t_scf_risk_warn_info (id, warn_code, rule_type, 
      rule_name, check_type, logical_symbol, 
      threshold, warn_result, del_flag, 
      create_by, create_time, update_by, 
      update_time, rule_condition)
    values (#{id,jdbcType=VARCHAR}, #{warn_code,jdbcType=VARCHAR}, #{rule_type,jdbcType=CHAR}, 
      #{rule_name,jdbcType=VARCHAR}, #{check_type,jdbcType=VARCHAR}, #{logical_symbol,jdbcType=VARCHAR}, 
      #{threshold,jdbcType=VARCHAR}, #{warn_result,jdbcType=VARCHAR}, #{del_flag,jdbcType=INTEGER}, 
      #{create_by,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_by,jdbcType=VARCHAR}, 
      #{update_time,jdbcType=TIMESTAMP}, #{rule_condition,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.perfect.moudle.system.entity.RiskWarnInfo" >
    insert into t_scf_risk_warn_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="warn_code != null" >
        warn_code,
      </if>
      <if test="rule_type != null" >
        rule_type,
      </if>
      <if test="rule_name != null" >
        rule_name,
      </if>
      <if test="check_type != null" >
        check_type,
      </if>
      <if test="logical_symbol != null" >
        logical_symbol,
      </if>
      <if test="threshold != null" >
        threshold,
      </if>
      <if test="warn_result != null" >
        warn_result,
      </if>
      <if test="del_flag != null" >
        del_flag,
      </if>
      <if test="create_by != null" >
        create_by,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_by != null" >
        update_by,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="rule_condition != null" >
        rule_condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="warn_code != null" >
        #{warn_code,jdbcType=VARCHAR},
      </if>
      <if test="rule_type != null" >
        #{rule_type,jdbcType=CHAR},
      </if>
      <if test="rule_name != null" >
        #{rule_name,jdbcType=VARCHAR},
      </if>
      <if test="check_type != null" >
        #{check_type,jdbcType=VARCHAR},
      </if>
      <if test="logical_symbol != null" >
        #{logical_symbol,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null" >
        #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="warn_result != null" >
        #{warn_result,jdbcType=VARCHAR},
      </if>
      <if test="del_flag != null" >
        #{del_flag,jdbcType=INTEGER},
      </if>
      <if test="create_by != null" >
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null" >
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="rule_condition != null" >
        #{rule_condition,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.perfect.moudle.system.entity.RiskWarnInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_scf_risk_warn_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_scf_risk_warn_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.warn_code != null" >
        warn_code = #{record.warn_code,jdbcType=VARCHAR},
      </if>
      <if test="record.rule_type != null" >
        rule_type = #{record.rule_type,jdbcType=CHAR},
      </if>
      <if test="record.rule_name != null" >
        rule_name = #{record.rule_name,jdbcType=VARCHAR},
      </if>
      <if test="record.check_type != null" >
        check_type = #{record.check_type,jdbcType=VARCHAR},
      </if>
      <if test="record.logical_symbol != null" >
        logical_symbol = #{record.logical_symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.threshold != null" >
        threshold = #{record.threshold,jdbcType=VARCHAR},
      </if>
      <if test="record.warn_result != null" >
        warn_result = #{record.warn_result,jdbcType=VARCHAR},
      </if>
      <if test="record.del_flag != null" >
        del_flag = #{record.del_flag,jdbcType=INTEGER},
      </if>
      <if test="record.create_by != null" >
        create_by = #{record.create_by,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null" >
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_by != null" >
        update_by = #{record.update_by,jdbcType=VARCHAR},
      </if>
      <if test="record.update_time != null" >
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rule_condition != null" >
        rule_condition = #{record.rule_condition,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_scf_risk_warn_info
    set id = #{record.id,jdbcType=VARCHAR},
      warn_code = #{record.warn_code,jdbcType=VARCHAR},
      rule_type = #{record.rule_type,jdbcType=CHAR},
      rule_name = #{record.rule_name,jdbcType=VARCHAR},
      check_type = #{record.check_type,jdbcType=VARCHAR},
      logical_symbol = #{record.logical_symbol,jdbcType=VARCHAR},
      threshold = #{record.threshold,jdbcType=VARCHAR},
      warn_result = #{record.warn_result,jdbcType=VARCHAR},
      del_flag = #{record.del_flag,jdbcType=INTEGER},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_by = #{record.update_by,jdbcType=VARCHAR},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      rule_condition = #{record.rule_condition,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_scf_risk_warn_info
    set id = #{record.id,jdbcType=VARCHAR},
      warn_code = #{record.warn_code,jdbcType=VARCHAR},
      rule_type = #{record.rule_type,jdbcType=CHAR},
      rule_name = #{record.rule_name,jdbcType=VARCHAR},
      check_type = #{record.check_type,jdbcType=VARCHAR},
      logical_symbol = #{record.logical_symbol,jdbcType=VARCHAR},
      threshold = #{record.threshold,jdbcType=VARCHAR},
      warn_result = #{record.warn_result,jdbcType=VARCHAR},
      del_flag = #{record.del_flag,jdbcType=INTEGER},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_by = #{record.update_by,jdbcType=VARCHAR},
      update_time = #{record.update_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.perfect.moudle.system.entity.RiskWarnInfo" >
    update t_scf_risk_warn_info
    <set >
      <if test="warn_code != null" >
        warn_code = #{warn_code,jdbcType=VARCHAR},
      </if>
      <if test="rule_type != null" >
        rule_type = #{rule_type,jdbcType=CHAR},
      </if>
      <if test="rule_name != null" >
        rule_name = #{rule_name,jdbcType=VARCHAR},
      </if>
      <if test="check_type != null" >
        check_type = #{check_type,jdbcType=VARCHAR},
      </if>
      <if test="logical_symbol != null" >
        logical_symbol = #{logical_symbol,jdbcType=VARCHAR},
      </if>
      <if test="threshold != null" >
        threshold = #{threshold,jdbcType=VARCHAR},
      </if>
      <if test="warn_result != null" >
        warn_result = #{warn_result,jdbcType=VARCHAR},
      </if>
      <if test="del_flag != null" >
        del_flag = #{del_flag,jdbcType=INTEGER},
      </if>
      <if test="create_by != null" >
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null" >
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="rule_condition != null" >
        rule_condition = #{rule_condition,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.perfect.moudle.system.entity.RiskWarnInfo" >
    update t_scf_risk_warn_info
    set warn_code = #{warn_code,jdbcType=VARCHAR},
      rule_type = #{rule_type,jdbcType=CHAR},
      rule_name = #{rule_name,jdbcType=VARCHAR},
      check_type = #{check_type,jdbcType=VARCHAR},
      logical_symbol = #{logical_symbol,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=VARCHAR},
      warn_result = #{warn_result,jdbcType=VARCHAR},
      del_flag = #{del_flag,jdbcType=INTEGER},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      rule_condition = #{rule_condition,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.perfect.moudle.system.entity.RiskWarnInfo" >
    update t_scf_risk_warn_info
    set warn_code = #{warn_code,jdbcType=VARCHAR},
      rule_type = #{rule_type,jdbcType=CHAR},
      rule_name = #{rule_name,jdbcType=VARCHAR},
      check_type = #{check_type,jdbcType=VARCHAR},
      logical_symbol = #{logical_symbol,jdbcType=VARCHAR},
      threshold = #{threshold,jdbcType=VARCHAR},
      warn_result = #{warn_result,jdbcType=VARCHAR},
      del_flag = #{del_flag,jdbcType=INTEGER},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>